In [1]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [2]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
0,0,Praia Da Vitoria,38.7333,-27.0667,60.80,88,75,24.90,PT,2021-04-03 22:38:22
1,1,Albany,42.6001,-73.9662,50.00,23,40,13.80,US,2021-04-03 22:34:30
2,2,Lorengau,-2.0226,147.2712,81.37,79,100,7.67,PG,2021-04-03 22:38:23
3,3,Nurobod,40.9056,69.8023,57.20,51,75,4.61,UZ,2021-04-03 22:38:23
4,4,Mamou,10.5000,-12.0000,77.94,51,66,4.07,GN,2021-04-03 22:38:24

In [3]:
city_data_df.dtypes

City_ID         int64
City           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
Country        object
Date           object
dtype: object

In [4]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [5]:
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))

In [6]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]

# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=temps, dissipating=False, max_intensity=300, point_radius=4)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [7]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [8]:
# Heatmap of percent cloudiness
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"] 
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [9]:
# Heatmap of Wind Speed
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"] 
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [10]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [11]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
2,2,Lorengau,-2.0226,147.2712,81.37,79,100,7.67,PG,2021-04-03 22:38:23
4,4,Mamou,10.5000,-12.0000,77.94,51,66,4.07,GN,2021-04-03 22:38:24
8,8,Poum,-20.2333,164.0167,80.26,83,81,18.79,NC,2021-04-03 22:38:25
13,13,Rikitea,-23.1203,-134.9692,76.66,67,31,15.57,PF,2021-04-03 22:38:26
23,23,Saint-Pierre,-21.3393,55.4781,77.00,78,0,6.91,RE,2021-04-03 22:38:29
24,24,Kavieng,-2.5744,150.7967,82.71,74,80,3.38,PG,2021-04-03 22:38:29
27,27,Parrita,9.5201,-84.3225,77.00,60,75,19.57,CR,2021-04-03 22:38:31
31,31,Kahului,20.8947,-156.4700,80.60,57,40,19.57,US,2021-04-03 22:38:32
33,33,Adrar,20.5022,-10.0711,82.09,16,48,10.04,MR,2021-04-03 22:38:32
36,36,Panaba,21.2833,-88.2667,76.69,57,12,19.77,MX,2021-04-03 22:38:33

In [12]:
preferred_cities_df.count()

City_ID       169
City          169
Lat           169
Lng           169
Max Temp      169
Humidity      169
Cloudiness    169
Wind Speed    169
Country       169
Date          169
dtype: int64

In [13]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

            City Country  Max Temp      Lat       Lng Hotel Name
2       Lorengau      PG     81.37  -2.0226  147.2712
4          Mamou      GN     77.94  10.5000  -12.0000
8           Poum      NC     80.26 -20.2333  164.0167
13       Rikitea      PF     76.66 -23.1203 -134.9692
23  Saint-Pierre      RE     77.00 -21.3393   55.4781
24       Kavieng      PG     82.71  -2.5744  150.7967
27       Parrita      CR     77.00   9.5201  -84.3225
31       Kahului      US     80.60  20.8947 -156.4700
33         Adrar      MR     82.09  20.5022  -10.0711
36        Panaba      MX     76.69  21.2833  -88.2667

In [14]:
base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

In [20]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

,City,Country,Max Temp,Lat,Lng,Hotel Name
2,Lorengau,PG,81.37,-2.0226,147.2712,Lorengau Harbourside Hotel
4,Mamou,GN,77.94,10.5000,-12.0000,
8,Poum,NC,80.26,-20.2333,164.0167,Gîte kajeon
13,Rikitea,PF,76.66,-23.1203,-134.9692,Pension Maro'i
23,Saint-Pierre,RE,77.00,-21.3393,55.4781,Lindsey Hôtel
...,...,...,...,...,...,...
532,Novo Aripuana,BR,75.90,-5.1206,-60.3797,Hotel Ezequiel
533,Katobu,ID,78.49,-4.9408,122.5276,La Ode Husein
556,Buin,CL,82.40,-33.7333,-70.7500,Paihuen
558,Maragogi,BR,78.71,-9.0122,-35.2225,Salinas do Maragogi All Inclusive Resort
559,Kalmunai,LK,78.42,7.4167,81.8167,VS Villa

In [23]:
# Add a heatmap of temperature for the vacation spots and marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,
             dissipating=False, max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [24]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [25]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))